<div class="item">
  <div class="item-flip">
    <div class="item-inner">
      <img class="w-100 img-fluid" src="static/images/movies/1.jpg" alt="Archive">
    </div>
    <div class="movie-details">
      <h1><a href="movie-single.html">Archive</a></h1>
      <h2>2023 | 2h 14m </h2>
      <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <span>4.2/5</span>
      </div>
      <div class="tags">
        <a href="#!"><span class="tag">Action</span></a>
        <a href="#!"><span class="tag">Drama</span></a>
        <a href="#!"><span class="tag">Adventure</span></a>
      </div>
      <p class="desc">
        Marco, a disillusioned backpacker in his late 20s, embarks on a solitary journey in
        search for meaning.
      </p>
      <a href="movie-single.html" class="watch-now">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Watch Now</span>
      </a>
    </div>
  </div>
</div>